<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Dilemma
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only rigth (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #EFF0F1;">
  <div>
    <ion-segment color="dark" [(ngModel)]="subSettings">
      <ion-segment-button value="home">
        <ion-icon name="md-copy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="questions">
				<ion-icon name="ios-help-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="subSettings">

    <div *ngSwitchCase="'home'">
			<div text-center>

				<ion-card style="background-color: #2F2F2F" (click)="CreateChannel()">
						<ion-card-content style="background-color: #2F2F2F">
							<span ion-text style="text-align: center; color: white">
								Créer une session
							</span>
						</ion-card-content>
				</ion-card>
				<div *ngIf="channelActive == true" style="padding-top: 1em">
					<ion-item>
						<ion-label floating>Nom de votre Session</ion-label>
						<ion-input type="text" [(ngModel)]="channels.name"></ion-input>
					</ion-item>

					<ion-card style="background-color: #2F2F2F" (click)="postChannel()">
							<ion-card-content style="background-color: #2F2F2F">
								<span ion-text style="text-align: center; color: white">
									Lancer la Session
								</span>
							</ion-card-content>
					</ion-card>

				</div>

			</div>
    </div>

		<div *ngSwitchCase="'questions'">
			<div text-center>

				<ion-grid>
					<ion-row>

						<ion-col col-6>
							<ion-card style="background-color: #2F2F2F" (click)="presentQuestionModal()">
									<ion-card-content style="background-color: #2F2F2F">
										<span ion-text style="text-align: center; color: white">
											Créer une question
										</span>
									</ion-card-content>
								</ion-card>
						</ion-col>

						<ion-col col-6 *ngIf="fav == false">
							<ion-card style="background-color: #2F2F2F" (click)="change(0)">
									<ion-card-content style="background-color: #2F2F2F">
										<span ion-text style="text-align: center; color: white">
											Voir mes favoris
										</span>
									</ion-card-content>
							</ion-card>
						</ion-col>

						<ion-col col-6 *ngIf="fav == true">
							<ion-card style="background-color: #2F2F2F" (click)="change(1)">
									<ion-card-content style="background-color: #2F2F2F">
										<span ion-text style="text-align: center; color: white">
											Voir les questions
										</span>
									</ion-card-content>
							</ion-card>
						</ion-col>

					</ion-row>
				</ion-grid>

					<ion-searchbar [(ngModel)]="filter" style="margin-top: -1em"></ion-searchbar>

					<div *ngIf="fav == false">
						<div *ngFor="let question of (questions | SearchQuestionPipe: filter)">
		          <ion-card *ngIf="isFav(question.id) == false">
		            <ion-card-content>
		              <span ion-text style="text-align: center; font-size: 120%">
		                {{question.title}}
		              </span>

									<ion-list>
										<ion-item>
											<ion-card class="true" *ngIf="question.percent == true">Vrai</ion-card>
											<ion-card class="false" *ngIf="question.percent == false">Faux</ion-card>
											<ion-icon *ngIf="fav == false" name="star-outline" style="font-size: 2em; position: absolute; left: 0.2em; top: 0.4em" (click)="addFavorite(question.id)"></ion-icon>
											<ion-icon name="md-create" style="font-size: 2em; position: absolute; right: 0.2em; top: 0.4em"></ion-icon>
										</ion-item>
									</ion-list>

		            </ion-card-content>
		          </ion-card>
						</div>
					</div>

				<div *ngIf="fav == true">
					<div *ngFor="let favorite of (favorites | SearchQuestionPipe: filter)">
						<ion-card>
							<ion-card-content>
								<span ion-text style="text-align: center; font-size: 120%">
									{{favorite.title}}
								</span>

								<ion-list>
									<ion-item>
										<ion-card class="true" *ngIf="favorite.percent == true">Vrai</ion-card>
										<ion-card class="false" *ngIf="favorite.percent == false">Faux</ion-card>
										<ion-icon name="star" style="font-size: 2em; position: absolute; left: 0.2em; top: 0.4em" (click)="removeFavorite(favorite.id)"></ion-icon>
										<ion-icon name="md-create" style="font-size: 2em; position: absolute; right: 0.2em; top: 0.4em"></ion-icon>
									</ion-item>
								</ion-list>

							</ion-card-content>
						</ion-card>
					</div>
				</div>

				<ion-card style="background-color: #2F2F2F; position: absolute; top: 25em; left: 0.2em; right: 0.2em" *ngIf="all == true && fav == false">
						<ion-card-content style="background-color: #FFFFFF">
							<span ion-text style="text-align: center">
								Pas de question disponible pour le moment !
							</span>
						</ion-card-content>
				</ion-card>

				<ion-card style="background-color: #2F2F2F; position: absolute; top: 25em; left: 0.2em; right: 0.2em" *ngIf="favorites.length == 0 && fav == true">
						<ion-card-content style="background-color: #FFFFFF">
							<span ion-text style="text-align: center">
								Vous n'avez aucun favori
							</span>
						</ion-card-content>
				</ion-card>

			</div>
    </div>

	</div>
</ion-content>
