<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Dilemma
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only rigth (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #EFF0F1;">
  <div padding>
    <ion-segment color="dark" [(ngModel)]="subSettings">
      <ion-segment-button value="home">
        <ion-icon name="md-copy"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="questions">
				<ion-icon name="ios-help-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="subSettings">

    <div *ngSwitchCase="'home'">
			<div text-center>

				<button large ion-button center (click)="CreateChannel()">
					Créer une session
				</button>

				<div *ngIf="channelActive == true" style="padding-top: 1em">
					<ion-item>
						<ion-label floating>Nom de votre Session</ion-label>
						<ion-input type="text" [(ngModel)]="channels.name"></ion-input>
					</ion-item>

					<button large ion-button center (click)="postChannel()">
						Lancer la Session
					</button>

				</div>

			</div>
    </div>

		<div *ngSwitchCase="'questions'">
			<div text-center>

					<button large ion-button center (click)="presentQuestionModal()">
						Soumettre une question
					</button>

          <ion-card *ngFor="let question of questions">
            <ion-card-content>
              <span ion-item style="text-align: center">
                {{question.title}}
              </span>
            </ion-card-content>
          </ion-card>

					<div *ngIf="questions.length == 0">
						Pas de questions disponible pour le moment !
					</div>

			</div>
    </div>

	</div>
</ion-content>
